{% extends 'base.html' %}
{% block title %}
    {{ user.username }} Profile
{% endblock title%}
{% block content %}
    {% if self_dash%}
        <nav class="navbar">
            <a href="{% url "post:add_post" request.user.id %}" class="nav-item">+Post</a>
            <a href="{% url "accounts:edit_profile" request.user.id %}" class="nav-item ml-auto">Edit Profile</a>
        </nav>

    {% endif %}
    <div class="text-center">
        <h4 >{{ user.username }}</h4>
        <p>{{ user.profile.bio }}</p>
    </div>
    <div class="mt-5">
    {% for post in posts %}
        <div class="card">
            <a class="card-body" href="{{ post.get_absolute_url }}">{{ post.body }}</a>

        </div>
    {% empty %}
            <p class="card-body">This User Has no Posts!</p>

    {% endfor %}
    </div>


{% endblock content %}