{% extends 'base.html' %}
{% block title %}
    @{{ post.user }}
{% endblock title %}
{% block content %}

    <p>{{  post.user}}</p>

    <small>{{ post.created }} </small>
            <hr>

    <p>
        {{ post.body }}
    </p>
    {% if request.user.is_authenticated and request.user.id == post.user.id%}
            <a href="{% url "post:delete_post" post.user.id post.id %}">Delete</a>
        <br>
            <a href="{% url "post:edit_post" post.user.id post.id %}">Edit</a>

    {% endif %}
{% endblock content %}