{% extends 'base.html' %}
{% block title %}
    @{{ post.user }}
{% endblock title %}
{% block content %}
        {% if request.user.is_authenticated and request.user.id == post.user.id%}
            <a href="{% url "post:delete_post" post.user.id post.id %}">Delete</a>
        <br>
            <a href="{% url "post:edit_post" post.user.id post.id %}">Edit</a>

    {% endif %}

    <p>{{  post.user}}</p>

    <small>{{ post.created }} </small>
            <hr>

    <p>
        {{ post.body }}
    </p>

    <hr>
        {% with tottal=comments.count %}
    <p>This post has {{ tottal }} comments</p>
    {% endwith %}
    {% for comment in comments%}
        <div class="card text-white bg-dark ml-2" >
        <p class="card-header">{{ comment.user }}</p>
        <p class="card-body">{{ comment.body }}</p>
        </div>
        <br>
        {% empty %}
        <p>There is no comments</p>

    {% endfor %}
{% endblock content %}